/**********************/
/* GENERAL */
/**********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
}

main {
  flex: 1;
  margin-top: 17.2rem;
}

.btn {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 1.1rem 2.3rem;
  border-radius: 4px;
}

/**********************/
/* NAVBAR */
/**********************/

.main-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1.4rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #000;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: underline;
}

.nav-icon {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  color: #5f6368;
}

.nav-icon:hover,
.nav-icon:active {
  display: inline-block;
  border-radius: 50%;
  background-color: #3c404314;
}

.btn-nav:link,
.btn-nav:visited {
  background-color: #1a73e8;
  color: #fff;
  font-weight: 500;
}

.btn-nav:hover,
.btn-nav:active {
  background-color: #1b66c9;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15),
    0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

/**********************/
/* MAIN */
/**********************/

.main-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.main-logo {
  height: 9.2rem;
}

.logo-img {
  height: 100%;
}

.main-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 75%;
  max-width: 58.4rem;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 1.3rem 1.5rem;
}

.main-search:hover,
.main-search:active {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.main-search input {
  width: 100%;
  border: none;
  outline: none;
}

.main-icons {
  display: flex;
  gap: 1.5rem;
}

.main-icon {
  width: 2rem;
  height: 2rem;
  color: #9aa0a6;
  cursor: pointer;
}

.main-btns {
  display: flex;
  gap: 1rem;
}

.btn-main:link,
.btn-main:visited {
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid #f8f9fa;
  font-size: 1.4rem;
}

.btn-main:hover,
.btn-main:active {
  border: 1px solid #dadce0;
  color: #202124;
}

/**********************/
/* FOOTER */
/**********************/

.footer {
  background-color: #f2f2f2;
  font-size: 1.5rem;
}

.footer-location {
  padding: 1.5rem 3rem;
  color: #70757a;
  border-bottom: 1px solid #dadce0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem 3rem;
}

.footer-nav-left {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer-nav-right {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer-link {
  text-decoration: none;
  color: #70757a;
}

.footer-link:hover,
.footer-link:visited {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer-nav {
    justify-content: center;
  }
}
